data/cyano_wholegenomes/Cyano_complete_genomes/data/*.fna
data/cyano_wholegenomes/Cyano_complete_genomes.tar


*.db
*.fa

*/*/.DS_Store
*/*/.RData
*/*/.Rhistory

.DS_Store
R/.Rhistory



.snakemake/*
.Rproj.user
