cyano_wholegenomes/*.tar
cyano_wholegenomes/*.fna*


*_genomic.db
*_genomic.fa
*_genomic.hmm.sequence.txt
*_genomic.stats.txt
*_genomic.tsv

archive/archive-summary-count-reports/GC*

*/subset_data/*

.snakemake/*
.Rproj.user
